# Python functions

A function is a block of code that performs a specific task whenever it is called. 

In bigger programs, where we have large amounts of code it is advisable to create or use existing functions that make the program flow organised and neat.

2 types of functions:

1. built-in

> pre-coded in python
e.g, min(),max(),sum(),len(),type(),range(),dict(),list(),tuple(),set(),print(),etc.

2. user defined

> we can create functions to perform specific tasks as per our needs

In [1]:
a=9
b=8
geometric_mean=(a*b)/(a+b)
print(geometric_mean)

4.235294117647059

In [2]:
a=9
b=8
geometric_mean1=(a*b)/(a+b)
print(geometric_mean1)

c=18
d=13
geometric_mean2=(c*d)/(c+d)
print(geometric_mean2)

4.235294117647059
7.548387096774194

# Instead of doing all of this

In [ ]:
def function_name(parameters):
  pass

In [3]:
def calculate_gmean(a,b):
  mean=(a*b)/(a+b)
  print(mean)

calculate_gmean(9,8)
calculate_gmean(18,13)

4.235294117647059
7.548387096774194

## Similarly

In [4]:
a=9
b=8
geometric_mean1=(a*b)/(a+b)
print(geometric_mean1)
if (a>b):
  print('First no is greater')
else:
  print('second no. is greater or equal')

c=13
d=18
geometric_mean2=(c*d)/(c+d)
print(geometric_mean2)
if (c>d):
  print('First no is greater')
else:
  print('second no. is greater or equal')

4.235294117647059
First no is greater
7.548387096774194
second no. is greater or equal

In [5]:
def calculate_gmean(a,b):
  mean=(a*b)/(a+b)
  print(mean)
def isgreater(a,b):
  if (a>b):
    print('First no is greater')
  else:
    print('second no. is greater or equal')
def islesser(a,b):
  pass

a=9
b=8
c=13
d=18
calculate_gmean(a,b)
calculate_gmean(c,d)

isgreater(a,b)
isgreater(c,d)

4.235294117647059
7.548387096774194
First no is greater
second no. is greater or equal

## Function arguments and return statement

There are 4 types of arguments that we can provide in a function:

- Default arguments
- keyword arguments
- variable length arguments
- required arguments

### Default argument

We can provide a default value while creating a function. This way the function assumes a default value even if a value is not provided in the function call for arguments.

In [6]:
def name(fname, mname='prasad', lname='yadav'):
  print('Hello,', fname,mname, lname)

name('Lalu')

Hello Lalu prasad yadav

### Keyword arguments

We can provide arguments with key=value, this way the interpreter recognizes the arguments by the parameter name. Hence, the order in which arguments are passed doesnot matter.

In [7]:
def name(fname,mname,lname):
  print('Hello,',fname,mname,lname)
name(fname='surya',lname='yadav',mname='kumar')

Hello, surya kumar yadav

### Required 

Incase we don't pass the arguments with key=value syntax, then it is necessary to pass the arguments in the correct positional order and the number of arguments passed should match with actual function definition.

Example 1: when number of arguments passed does not match to the actual function definition.

In [8]:
def name(fname,mname,lname):
  print('Hello,',fname,mname,lname)
name('surya','kumar')

TypeError: ignored

In [9]:
def name(fname,mname,lname):
  print('Hello,',fname,mname,lname)
name('surya','kumar','yadav')

Hello, surya kumar yadav

### Variable-length arguments:

Sometimes we may need to pass more arguments than those defined in the actual function. This can be done using variable-length arguments.

There are two ways to achieve this:

1. Arbitrary Arguments:

> While creating a function, pass a * before the parameter name while defining the function. The function accesses the arguments by processing them in the form of tuple.

In [13]:
def average(*numbers):
  print(type(numbers))
  sum=0
  for i in numbers:
    sum=sum+i
  print('Average is:', sum/len(numbers))
average(5,6)
average(3,8,9,6)

<class 'tuple'>
Average is: 5.5
<class 'tuple'>
Average is: 6.5

In [14]:
def name(*name):
    print("Hello,", name[0], name[1], name[2])

name("James", "Buchanan", "Barnes")

Hello, James Buchanan Barnes

### Keyword Arbitrary Arguments:

While creating a function, pass a * before the parameter name while defining the function. The function accesses the arguments by processing them in the form of dictionary.

In [18]:
def name(**name):
  print(type(name))
  print("Hello,", name['fname'], name['mname'], name['lname'])

name(fname="James",lname= "Buchanan",mname= "Barnes")

<class 'dict'>
Hello, James Barnes Buchanan

## return Statement

The return statement is used to return the value of the expression back to the calling function.

In [19]:
def average(*numbers):
  print(type(numbers))
  sum=0
  for i in numbers:
    sum=sum+i
  return sum/len(numbers)

c=average(3,8,9,6)
c

<class 'tuple'>

6.5