# Python Lists

- Lists are ordered collection of data items.
- They store multiple items in a single variable.
- List items are separated by commas and enclosed within square brackets [].
- Lists are changeable meaning we can alter them after creation.

In [9]:
l=[3,5,6,8,9,2,0,1,34,64]
print(l)

[3, 5, 6, 8, 9, 2, 0, 1, 34, 64]

In [2]:
print(type(l))

<class 'list'>

A single list can contain items of different data types.

In [3]:
details = ["Abhijeet", 18, "FYBScIT", 9.8]
print(details)

['Abhijeet', 18, 'FYBScIT', 9.8]

## List Index

Each item/element in a list has its own unique index. This index can be used to access any particular item from the list. The first item has index [0], second item has index [1], third item has index [2] and so on.

### Accessing list items

We can access list items by using its index with the square bracket syntax []. For example colors[0] will give "Red", colors[1] will give "Green" and so on...

### Positive Indexing:

As we have seen that list items have index, as such we can access items using these indexes.

In [10]:
l[0]

3

In [11]:
len(l)

10

### Negative Indexing:

Similar to positive indexing, negative indexing is also used to access items, but from the end of the list. The last item has index [-1], second last item has index [-2], third last item has index [-3] and so on.

In [15]:
print(l[-3]) #negative index
# how to to convert it into positive index for less confusion
print(l[len(l)-3])

1
1

### Check whether an item in present in the list?

We can check if a given item is present in the list. This is done using the in keyword.

In [13]:
if 10 in l:
  print('yes')
else:
  print('no')

no

In [16]:
if 'Abhijeet' in details:
  print('yes')
else:
  print('no')

yes

In [17]:
if '5' in l:
  print('yes')
else:
  print('no')

no

## Range of Index:

You can print a range of list items by specifying where you want to start, where do you want to end and if you want to skip elements in between the range.

listName[start : end : jumpIndex]

Note: jump Index is optional. We will see this in later examples.

In [18]:
l[:]

[3, 5, 6, 8, 9, 2, 0, 1, 34, 64]

In [19]:
l[1:]

[5, 6, 8, 9, 2, 0, 1, 34, 64]

In [20]:
l[1:-1]

[5, 6, 8, 9, 2, 0, 1, 34]

In [21]:
# jump indexing
l[::2]

[3, 6, 9, 0, 34]

Here, we provide index of the element from where we want to start and the index of the element till which we want to print the values.

Note: The element of the end index provided will not be included.

Example: printing all element from a given index till the end

In [22]:
animals = ["cat", "dog", "bat", "mouse", "pig", "horse", "donkey", "goat", "cow"]
print(animals[4:])	#using positive indexes
print(animals[-4:])	#using negative indexes

['pig', 'horse', 'donkey', 'goat', 'cow']
['horse', 'donkey', 'goat', 'cow']

When no end index is provided, the interpreter prints all the values till the end.

When no start index is provided, the interpreter prints all the values from start up to the end index provided.


Example: printing all elements from start to a given index

In [23]:
animals = ["cat", "dog", "bat", "mouse", "pig", "horse", "donkey", "goat", "cow"]
print(animals[:6])	#using positive indexes
print(animals[:-3])	#using negative indexes

['cat', 'dog', 'bat', 'mouse', 'pig', 'horse']
['cat', 'dog', 'bat', 'mouse', 'pig', 'horse']

## List Comprehension

List comprehensions are used for creating new lists from other iterables like lists, tuples, dictionaries, sets, and even in arrays and strings.

Syntax:

> ### List = [Expression(item) for item in iterable if Condition] 

- Expression: It is the item which is being iterated.

- Iterable: It can be list, tuples, dictionaries, sets, and even in arrays and strings.

- Condition: Condition checks if the item should be added to the new list or not.

Example 1: Accepts items with the small letter “o” in the new list

In [24]:
names = ["Milo", "Sarah", "Bruno", "Anastasia", "Rosa"]
namesWith_O = [item for item in names if "o" in item]
print(namesWith_O)

['Milo', 'Bruno', 'Rosa']

Example 2: Accepts items which have more than 4 letters

In [25]:
names = ["Milo", "Sarah", "Bruno", "Anastasia", "Rosa"]
namesWith_4_letters = [item for item in names if (len(item) > 4)]
print(namesWith_4_letters)

['Sarah', 'Bruno', 'Anastasia']

In [28]:
lst=[i for i in range(4)]
lst

[0, 1, 2, 3]

In [30]:
lst_sq=[i*i for i in range(4)]
lst_sq

[0, 1, 4, 9]

In [32]:
lst_even=[i for i in range(10) if i%2==0]
lst_even

[0, 2, 4, 6, 8]

In [27]:
m=[i for i in l if i>10]
m

[34, 64]

## List Methods

### list.sort()

This method sorts the list in ascending order. The original list is updated

In [6]:
colors = ["voilet", "indigo", "blue", "green"]
colors.sort()
print(colors)

['blue', 'green', 'indigo', 'voilet']

In [7]:
num = [4,2,5,3,6,1,2,1,2,8,9,7]
num.sort()
print(num)

[1, 1, 2, 2, 2, 3, 4, 5, 6, 7, 8, 9]

What if you want to print the list in descending order?
We must give reverse=True as a parameter in the sort method.

In [33]:
colors = ["voilet", "indigo", "blue", "green"]
colors.sort(reverse=True)
print(colors)

num = [4,2,5,3,6,1,2,1,2,8,9,7]
num.sort(reverse=True)
print(num)

['voilet', 'indigo', 'green', 'blue']
[9, 8, 7, 6, 5, 4, 3, 2, 2, 2, 1, 1]

The reverse parameter is set to False by default.

Note: Do not mistake the reverse parameter with the reverse method.

### reverse()

This method reverses the order of the list.

Example:

In [34]:
colors = ["voilet", "indigo", "blue", "green"]
colors.reverse()
print(colors)

num = [4,2,5,3,6,1,2,1,2,8,9,7]
num.reverse()
print(num)

['green', 'blue', 'indigo', 'voilet']
[7, 9, 8, 2, 1, 2, 1, 6, 3, 5, 2, 4]

### index()

This method returns the index of the first occurrence of the list item.

Example:

In [35]:
colors = ["voilet", "green", "indigo", "blue", "green"]
print(colors.index("green"))

num = [4,2,5,3,6,1,2,1,3,2,8,9,7]
print(num.index(3))

1
3

### count()

Returns the count of the number of items with the given value.

Example:

In [36]:
colors = ["voilet", "green", "indigo", "blue", "green"]
print(colors.count("green"))

num = [4,2,5,3,6,1,2,1,3,2,8,9,7]

2

### copy()

Returns copy of the list. This can be done to perform operations on the list without modifying the original list.

Example:

In [37]:
colors = ["voilet", "green", "indigo", "blue"]
newlist = colors.copy()
print(colors)
print(newlist)

['voilet', 'green', 'indigo', 'blue']
['voilet', 'green', 'indigo', 'blue']

### append():

This method appends items to the end of the existing list.

Example:

In [38]:
colors = ["voilet", "indigo", "blue"]
colors.append("green")
print(colors)

['voilet', 'indigo', 'blue', 'green']

### insert():

This method inserts an item at the given index. User has to specify index and the item to be inserted within the insert() method.

Example:

In [39]:
colors = ["voilet", "indigo", "blue"]
#           [0]        [1]      [2]

colors.insert(1, "green")   #inserts item at index 1
# updated list: colors = ["voilet", "green", "indigo", "blue"]
#       indexs              [0]       [1]       [2]      [3]

print(colors)

['voilet', 'green', 'indigo', 'blue']

extend():

This method adds an entire list or any other collection datatype (set, tuple, dictionary) to the existing list.

Example 1:

In [40]:
#add a list to a list
colors = ["voilet", "indigo", "blue"]
rainbow = ["green", "yellow", "orange", "red"]
colors.extend(rainbow)
print(colors)

['voilet', 'indigo', 'blue', 'green', 'yellow', 'orange', 'red']

### Concatenating two lists:

You can simply concatenate two lists to join two lists.

Example:

In [41]:
colors = ["voilet", "indigo", "blue", "green"]
colors2 = ["yellow", "orange", "red"]
print(colors + colors2)

['voilet', 'indigo', 'blue', 'green', 'yellow', 'orange', 'red']