# Taking user input in python

variable = input() 

this input function returns the value as string, hence we need to typecast it whenever required.

eg. 

variable = int(input())

variable = float(input())

In [1]:
a=input('Enter your name: ')
print('My name is ', a)

Enter your name: ekta
My name is  ekta

In [2]:
x = input('enter 1st no.: ')
y = input('enter 2nd no.: ')
print(x+y)

enter 1st no.: 12
enter 2nd no.: 15
1215

In [3]:
x = int(input('enter 1st no.: '))
y = int(input('enter 2nd no.: '))
print(x+y)

enter 1st no.: 12
enter 2nd no.: 15
27

# OR

In [4]:
x = input('enter 1st no.: ')
y = input('enter 2nd no.: ')
print(int(x)+int(y))

enter 1st no.: 12
enter 2nd no.: 15
27

In [5]:
x = float(input('enter 1st no.: '))
y = float(input('enter 2nd no.: '))1
print(x+y)

enter 1st no.: 12
enter 2nd no.: 5
17.0